$background: #f5f8f9;
$white: #fff;
$text-dark: #333;
$font: 'Roboto', sans-serif;
$normal: 400;
$medium: 600;
$bold: 700;
$line-height: 1.5em;

$base-font-size: 16px;
$heading-scale: 8;

@for $i from 1 through 6 {
    h#{$i} {
        font-size: $base-font-size + $heading-scale * (6 - $i);
        font-weight: $medium;
    }
}