.main {
    @include grid-column(10);
    @include grid-push(1);
    @include tablet {
        @include grid-column(12);
    }
    @include mobile {
        @include grid-column(12);
    }
    box-sizing: border-box;
    background: tomato;
    margin-top: 3em;
    padding: 0 22px;
    &__paragraph {
        padding: 22px 0;
        width: 60%;
    }
    &__image {
        border: 5px solid white;
    }
}